@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";



@theme {
  --color-white: #ffffff;
  --color-black: #030213;
  
  --color-blue-1: #EDEDFA;
  --color-blue-2: #C0C3EF;
  --color-blue-3: #939AE5;
  --color-blue-4: #6571D8;
  --color-blue-5: #3B4CB8;
  --color-blue-6: #232F78;
  --color-blue-7: #0E143D;

  --color-green-1: #BCFDF2;
  --color-green-2: #4BE3CF;
  --color-green-3: #3BB8A8;
  --color-green-4: #2C8F82;
  --color-green-5: #1D685E;
  --color-green-6: #10433D;
  --color-green-7: #05221E;

  --color-brown-1: #F4ECE6;
  --color-brown-2: #D6C7B8;
  --color-brown-3: #A38B77;
  --color-brown-4: #6B5442;
  --color-brown-5: #5A4636;
  --color-brown-6: #3E2F25;
  --color-brown-7: #2A1F18;

  --color-gray: #f9f9fb;
  --color-gray-1: #f3f3f5;
  --color-gray-2: #ececf0;
  --color-gray-3: #d1d5dc;
  --color-gray-4: #99a1af;
  --color-gray-5: #717182;

   --color-purple: oklch(0.627 0.265 303.9);
   --color-pink: #ec4899; 

  --color-yellow-1: oklch(0.96 0.08 95.0);
   --color-yellow-2: oklch(0.92 0.12 90.0);
   --color-yellow-3: oklch(0.828 0.189 84.429);
   --color-yellow-4: oklch(0.769 0.188 70.08);

   --color-orange-1: oklch(0.88 0.16 48.0); 
   --color-orange-2: oklch(0.82 0.19 50.0);  
   --color-orange-3: oklch(0.78 0.22 46.0);
   --color-orange-4: #f97316;     
   --color-orange-5: oklch(0.646 0.222 41.116);

   
   --color-red-1: oklch(0.637 0.237 25.331);
   --color-red-2: #d4183d;
   --color-red-3: oklch(0.396 0.141 25.723);


  --color-transparent: transparent;

  --text-xs: 10px;
  --text-sm: 12px;
  --text-md: 14px;
  --text-bs: 16px;
  --text-lg: 18px;
  --text-xl: 24px;

  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui;
}

body {
  @apply font-sans;
}

